@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

.navbar {
  height: 5.375rem;
  background-color: #3ABF78 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar span{
  margin-left: 5%;
  font-size: 2.8rem;
}
.fa-coins{
  font-size: 2.3rem;
}
footer {
  height: 5.375rem;
  background-color: #3ABF78 ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20vh;

}

.navlink {
  float: right;
  width: 6rem;
  text-align: center;
  margin-left: 1rem;
  margin-right: 3rem;
  font-size: 1rem;
  background-color: #b3e6cb;
  padding: 0.75rem;
  border-radius: 5px;
  transition: 0.3s;
}

.navlink:hover {
  background-color: black;
  color: white;
}
main p {
  font-size: 2rem;
  margin-top: 6.5rem;
  margin-bottom: 2.6rem;
  width: 650px;
  line-height: 4rem;
  margin-left: 5%;
}

main p span {
  font-size: 3rem;
  color: #3ABF78;
}

.main-btn-container {
  display: flex;
  justify-content: left;
  width: 650px;
  margin-left: 5%;
}
.btn-container {
  display: flex;
  justify-content: space-around;
  width: 650px;
  margin-left: 5%;
}
.btn {
  justify-content: center;
  width: 12.5rem;
  height: 5rem;
  background-color: #3ABF78;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  color: white;
  align-items: center;
}

.customer-faces {
  margin-left: 2%;
  
}

.customer-image {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  margin: 5rem 3rem;
  object-fit: cover;
  object-position: center;
  background-repeat: repeat;
  
}

.landing-wallet {
  border-radius: 50%;
  position: absolute;
  right: -12%;
  top: 20%;
  width: 650px;
  height: 650px;
}
/* Login form */

.login-form input {
  width: 30%;
  font-size: 1.75rem;
  margin: 1rem;
}

.login-requirements {
  text-align: center;
  padding-top: 2rem;
}

/* Table Styling */
.wallet-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.wallet-table {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.wallet-info {
  width: 65%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.new-bill-btn {
  height: 5rem;
  width: 22rem;
  /* margin-top: 3rem; */
  background-color: #3ABF78;
  color: white;
  font-size: 2rem;
}

.new-wallet-btn {
  height: 5rem;
  width: 22rem;
  margin-top: 3rem;
  background-color: #3ABF78;
  color: white;
  font-size: 2rem;
}
table {
  margin: 0% auto;
  height: 20vh;
  width: 70%;
}

th {
  margin: 2rem;
}

.bills td{
  text-align: center;
}

.bills td, .bills th {
  border: 1px solid #DEF3DC;
  padding: 0.5rem;
}

.bills tr:nth-child(even) {
  background-color: #DEF3DC;
}

.bills tr:nth-child(odd) {
  background-color: #dae0d9;
}
.bills tr th:last-child{
  width: 30%;
}

tfoot {
  background-color: #3ABF78;
  color: white;
}
.bills th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #3abf78;
  color: white;
}

.table-footer span {
  margin-left: 1rem;
}
.table-btn {
  height: 2rem;
  background-color: #535151;
  float: right;
  margin: 0.25rem 0.5rem;
}

.edit-btn {
  height: 3rem;
  width: 8rem;
  font-size: 1rem;
  color: white;
  border: none; 
}

.delete-btn {
  height: 3rem;
  width: 6rem;
  font-size: 1.5rem;
  color: white;
  border: none; 
}


button {
  border: none;
  cursor: pointer;
}

/* Create Wallet Form */

.new-wallet-div {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
}

.new-wallet-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  width: 20%;
}

.new-wallet-form > input {
  width: 100%;
}

/* Bill Entry Form */

label {
  font-size: 1.25rem;
}
.bill-entry {
display: flex;
flex-direction: column;
/* width: 45%; */
width: 100;
margin-top: 5%;
align-items: center;
}

.input-field{
  width: 50%;
  height: 3rem;
  border-radius: 30px;
  border: none;
  background-color: #E5E5E5;
  text-align: center;
}



/* Spendsy animation - Landing */
.spendsy {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/opacity/see-through */
  border: 3px solid;
}

.spendsy-animation {
  background: linear-gradient(to right, #129e35, #16a8ad , #00b900, #3bb3c9, #2bbe7a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 4s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

/* Button hovers */

.btn-hover {
  transition: 0.3s;
  border-radius: 5px;
}

.btn-hover:hover {
  background-color: #41d887;
  color: black;
}

.form-btn-container {
  display: flex;
}

.form-btn-container button, p {
  margin: 1rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}


.errorCode{
  color: rgb(194, 61, 61);
}
